image: maven:3.3.9-jdk-8

stages:
    - validate
    - test
    - package
    - deploy
cache:
    paths:
        - .m2/repository
    key: "$CI_COMMIT_REF_SLUG"

variables:
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"

validate-project:
    stage: validate
    script:
        - 'mvn $MAVEN_CLI_OPTS compile'
    artifacts:
        paths:
            - target
        expire_in: 30 minutes

run-unit-tests:
    stage: test
    script:
        - 'mvn $MAVEN_CLI_OPTS -Dmaven.main.skip=true -Dtest=!lsea/laboratory/controllers/* test -DfailIfNoTests=false'

run-api-tests:
    stage: test
    script:
        - 'mvn $MAVEN_CLI_OPTS -Dmaven.main.skip=true -Dtest=lsea/laboratory/controllers/* test'

build-dist:
    stage: package
    script:
        - 'mvn $MAVEN_CLI_OPTS -Dmaven.main.skip=true -Dmaven.test.skip=true package'
    artifacts:
        paths:
            - target/*.jar

deploy-to-server:
    stage: deploy
    script:
        - 'true'

deploy-to-production:
    stage: deploy
    script:
        - 'true'
    only:
        - master
